.wp-block-post-comments-form {
    display: block;
    clear: both;
    margin-top: 2em;
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
}

/* Comments */
.comment-list {
	list-style: none;
	padding: 0;
}

.comment-list .comment {
	margin-bottom: 1.5rem;
}

.comment-list .comment .comment-author {
	font-size: 120%;
}

.comment-list .comment .comment-meta {
	font-size: 80%;
	margin-bottom: 0.5rem;
}

.comment-list .bypostauthor .comment-author .fn {
	font-weight: bold;
}

.comment-list .children {
	list-style: none;
}

.comment-form label {
	display: block;
}
