:root {
	font-size: var(--wp--preset--font-size--normal);
	font-weight: 300;
}

h1 {
	font-size: var(--wp--preset--font-size--huge);
	line-height: 1.4;
}

h2 {
	font-size: var(--wp--preset--font-size--large);
	line-height: 1.4;
}

h3 {
	font-size: var(--wp--preset--font-size--medium);
	line-height: 1.55;
}

h4 {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.55;
}

h5 {
	font-size: var(--wp--preset--font-size--small);
	line-height: 1.8;
}

h6 {
	font-size: var(--wp--preset--font-size--small);
	line-height: 1.8;
}

figcaption {
	font-size: var(--wp--preset--font-size--small);
	margin-bottom: 2em;
}

.has-drop-cap:not(:focus)::first-letter {
	font-size: 4em;
	font-weight: 200;
}
body,
button,
input,
select,
textarea {
	color: #242424;
	font-size: 16px;
	font-size: 1rem;
	font-family: arial, helvetica, sans-serif;
	font-family: var(--text-font);
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 1em 0 0.75em;
	font-family: arial, helvetica, sans-serif;
	font-family: var(--title-font);
	font-weight: bold;
	font-weight: var(--title-font-weight);
	text-transform: none;
	text-transform: var(--title-text-transform);
	line-height: 1.4;
}

h1 {
	font-size: 36px;
	font-size: 2.25rem;
}

h2 {
	font-size: 28px;
	font-size: 1.75rem;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

h4 {
	font-size: 22px;
	font-size: 1.375rem;
}

h5 {
	font-size: 20px;
	font-size: 1.25rem;
}

h6 {
	font-size: 19px;
	font-size: 1.1875rem;
}

p {
	margin: 0 0 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	margin-bottom: 1.5em;
	padding: 1.5em;
	max-width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: rgba(0, 0, 0, 0.025);
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## - Media Queries for Typography
--------------------------------------------------------------*/
@media only screen and (min-width: 640px) {
	.site-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.site-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.entry-title,
	.entry-header h1 {
		font-size: 32px;
		font-size: 2rem;
	}

	.entry-content {
		font-size: 17px;
		font-size: 1.0625rem;
	}


	.archive-header .archive-title,
	.search-header .search-title {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

@media only screen and (min-width: 960px) {
	.site-description {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.entry-title,
	.entry-header h1 {
		font-size: 26px;
		font-size: 1.5rem;
	}

	.entry-content {
		font-size: 18px;
		font-size: 1.125rem;
	}



	.footer-widgets .widget-title {
		font-size: 22px;
		font-size: 1.375rem;
	}
}

@media only screen and (min-width: 1280px) {
	.site-description {
		font-size: 16px;
		font-size: 1rem;
	}

	.entry-title,
	.entry-header h1 {
		font-size: 48px;
		font-size: 3rem;
	}

	.entry-content {
		font-size: 19px;
		font-size: 1.1875rem;
	}


	.archive-header .archive-title,
	.search-header .search-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

